@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
body {
  background-color: rgb(255, 255, 255);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  color: white;
}

form {
  width: 500px;
  margin: 0 auto;
  padding: 40px;
  background-color: #333;
  border-radius: 5px;
}

label {
  margin-left: -10px;
  display: block;
  margin-bottom: 10px;
}

#description {
  margin-left: -10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  background-color: #555;
  color: white;
  border-radius: 3px;
}

input[type="text"],
input[type="date"] {
  margin-left: -10px;

  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  background-color: #555;
  color: white;
  border-radius: 3px;
}

input[type="submit"] {
  margin-left: -10px;

  background-color: #ff6600;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 3px;
}


.latesth1 {
  margin-left: 20px;
  margin-top: 60px;
  border-left: 4px solid #5F00D8;
  color: #000;
  font-family: Inria Serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 10px;
}

.wrapper {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  width: 96%;
}

.image-wrapper img {
  width: 87vh;
  height: 58vh;
  flex-shrink: 0;
}

.datewrapper {
  width: 134px;
  height: 42px;
  flex-shrink: 0;
  border-radius: 0px 20px 20px 0px;
  background: #632DFF;
  margin-top: -90px;
  z-index: 1;
}
.datewrapper p {
  color: #FFF;
  font-family: Inria Serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
margin-top: 5px;
}
.content-wrapper h2{
  margin-top: 0px;
  margin-left: 30px;
  color: #632DFF;
font-family: Inria Serif;
font-size: 62px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.content-wrapper p{
  margin-left: 30px;
  color: #000;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.delelteimage img{
  position: absolute;
  border-radius: 30px;
  top: 1033px;
  left: 1780px;
  padding: 7px;
  background-color: #FF4848;
  width: 31px;
  height: 31px;
}